<link rel="stylesheet" type="text/css" href="//www.philly.com/includes/b700c3f894facf07121c87bc257c6834/style-hc.css" />
<link rel="stylesheet" type="text/css" href="//www.philly.com/includes/73d8f163c0c67ce1a042d41af090a04a/style-ph.css" />
<link rel="stylesheet" type="text/css" href="//www.philly.com/includes/6585726878bdd3eba673051c78554837/long-form-styles.css"/>
<link rel="apple-touch-icon" href="//media.philly.com/designimages/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="//media.philly.com/designimages/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="//media.philly.com/designimages/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="//media.philly.com/designimages/touch-icon-ipad-retina.png">
