<!-- <div class="containerMedia containerInsertLeft containerQuote" alignment="true">
   <div class="containerQuoteText" alignment="true">
     &ldquo;{{quote[0]}}&rdquo;</div>
   <div class="containerQuoteSource" alignment="true">{{quote[1]}}</div>
</div> -->

<div alignment="true" class="left-pullquote">
    <div alignment="true" class="inner-text">
        <div alignment="true" class="quotetext">
            &ldquo;{{quote[0]}}&rdquo;
        </div>
        <div alignment="true" class="quotesource">
            – {{quote[1]}}
        </div>
    </div>
    <svg alignment="true" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 256 512"><path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"/></svg>

</div>
