<script src="http://media.philly.com/storage/inquirer/Longform/Bootstrap/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/8208ab3437.js"></script>
<script src="http://media.philly.com/storage/inquirer/script/leaflet/leaflet-0.7.7-2017.js"></script>
<!-- <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script> -->
<!-- <script type="text/javascript">
    $(document).ready(function() {
        var $header = $('#header');
        var hhight = $header.height();
        var $content = $(".content");
        var cpadding = $content.css("padding-top");
        $('.content').css("margin-top", "-" + cpadding);
        $('#backgroundImage-1').css("background-position", "left 50% top " + hhight + "px");

        $(window).resize(function() {
            var $header = $('header');
            var hhight = $header.height();
            var $content = $(".content");
            var cpadding = $content.css("padding-top");
            $('.content').css("margin-top", "-" + cpadding);
            $('#backgroundImage-1').css("background-position", "left 50% top " + hhight + "px");
        });
    });
</script> -->

<!-- !! The code between these tags will not show up when previewing locally, but will be included in the final bild code !! -->
<!--removeIf(build)-->
<script src="http://media.philly.com/storage/inquirer/script/LongformBootstrapCarouselE.js"></script>
<script src="http://media.philly.com/storage/inquirer/CustomShareTools/CustomShareToolsD.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#recircSpecials').load('/philly/news/special_packages/390291181.html  #morereports');
    });
</script>
<!--endRemoveIf(build)-->
